.hidden {
  display: none;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

.intro_bg {
  background-image: url(https://search.pstatic.net/common/?src=http%3A%2F%2Fblogfiles.naver.net%2F20110716_203%2Fcocori1988_131078439772136G91_JPEG%2F%25C7%25B3%25B0%25E6%25B9%25D9%25C5%25C1_%25284%2529.jpg&type=sc960_832);
  width: 100%;
  height: 721px;
}

#clock {
  display: flex;
  position:absolute;
  left: 50%;
  top: 35%;
  width: 300px;
  transform: translate(-50%, -50%);
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: rgba(255, 255, 255, 0.81);
}

#todo-form {
  position:absolute;
  left: 50%;
  top: 45%;
  width: auto;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
  background: rgb(0, 0, 0);
}

#todo-list {
  display: flex;
  position:absolute;
  left: 50%;
  top: 52%;
  width: auto;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.656);
  font-size: 20px;
  font: bold;
}

#weather {
  position:absolute;
  left: 90%;
  top: 95%;
  width: 290px;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.873);
  font-size: 20px;
}

#quote {
  display: flex;
  position:absolute;
  left: 11%;
  top: 95%;
  width: 300px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.873);
  font-size: 18px;
}

#greeting {
  display: flex;
  position:absolute;
  left: 50%;
  top: 16%;
  width: 30%;
  justify-content: center;
  align-items: center;
  height: 70px;
  transform: translate(-50%, -50%);
  background: rgba(47, 46, 46, 0.632);
  font-size: 40px;
  color: rgb(195, 218, 128);
}

#login-form {
  display: flex;
  position:absolute;
  left: 50%;
  top: 16%;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70px;
  transform: translate(-50%, -50%);
}