.hidden {
  display: none;
}

* {
  font-family: 'Noto Sans KR', sans-serif;
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  color: black;
}

body {
  
  background-repeat: no-repeat;
  background-size: cover;
  image-rendering: -webkit-optimize-contrast;
}

input {
  width: 20vw;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 3px white solid;
  background-color: transparent;
  text-align: center;
  color: aliceblue;
}

input:focus {
  outline: none;
  /* 아웃라인 지우기 */
  color: white
}

input::placeholder {
  color: rgb(255, 255, 255);
  font-size: 15px;
  text-align: center;
}

input::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

.user {
  width: 97vw;
  padding-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.user__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

.user__name {
  font-weight: 500;
}

#clock {
  display: flex;
  position: absolute;
  left: 50%;
  top: 35%;
  width: 300px;
  transform: translate(-50%, -50%);
  height: auto;
  margin: auto;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  font-size: 50px;
  color: rgba(255, 255, 255, 0.81);
}

#todo-form {
  position: absolute;
  left: 50%;
  top: 45%;
  width: auto;
  transform: translate(-50%, -50%);
  margin: auto;
  text-align: center;
}

#todo-list {
  display: flex;
  position: absolute;
  left: 50%;
  top: 52%;
  width: auto;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  font-size: 20px;
  font: bold;
}

#weather {
  position: absolute;
  left: 90%;
  top: 95%;
  width: 290px;
  transform: translate(-50%, -50%);
  font-size: 20px;
}

#quote {
  display: flex;
  position: absolute;
  left: 11%;
  top: 95%;
  width: 300px;
  justify-content: center;
  align-items: center;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.873);
  font-size: 18px;
}

#greeting {
  position: absolute;
  left: 50%;
  top: 16%;
  width: 30%;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  transform: translate(-50%, -50%);
  font-size: 40px;
}

#login-form {
  position: absolute;
  left: 50%;
  top: 16%;
  justify-content: center;
  align-items: center;
  width: auto;
  height: 70px;
  transform: translate(-50%, -50%);
}